<h1>Tom!</h1>

<!--



-->

<!-- Bio

Thomas Levine (Developer Advocate, <a href="https://twitter.com/thomaslevine">@thomaslevine</a>)
has been writing scrapers and generally hacking with computers since he was young.
In the process, he noticed back and wrist pain, prompting him to research physical ergonomics of computer use
and, in turn, to study statistics. This apparently makes him a "data scientist".
His favorite color is pink.

-->

<!-- Bio

Thomas Levine (Developer Advocate, <a href="https://twitter.com/thomaslevine">@thomaslevine</a>)
wants you to work less and think more.
To discourage work, he has written scripts to automate data collection,
format conversion and other mundane computer tasks.
To encourage thought, he has studied ergonomics, typography, statistics.
His favorite color is pink.

-->

<p>...</p>

<p>You may have read about me in  <a href="http://blog.scraperwiki.com/2011/10/28/meet-data-without-borders/">October</a> or <a href="http://blog.scraperwiki.com/2011/11/25/mapping-tahrirsupplies/">November</a>.</p>

<p>
Other scraperly persuits include
better <a href="http://bettercoa.ch">bus schedules</a>,
estimation of the rate of <!--<a href="https://gitorious.org/tlevine/repositories/middlenames">-->middle names among university students,
and
download of <a href="https://gitorious.org/tlevine/shsgradpictures">my high school's graduation photos</a> (and subsequent posting to Facebook).
</p>

<p>
I've been hacking with computers since I was young, and I became interested in
"<a href="">physical ergonomics</a>" of computer use. In order to conduct quantitative research on ergonomics of
<a href="http://chainsaw.iriscouch.com/blog/_design/sofa/_list/post/post-page?startkey=%5B%22Ergonomics-research-interests%22%5D">computer use</a> and
<a href="http://chainsaw.iriscouch.com/blog/_design/sofa/_list/post/post-page?startkey=%5B%22Risley-Toilets%22%5D">bathroom sanitation</a>,
among other things,
I found myself learning quite a bit of statistics.
</p>

<p>This all apparently makes me a "<a href="http://blog.scraperwiki.com/2011/09/26/four-data-trends-to-rule-them-all-the-data-scientist-king-to-bind-them/">data scientist</a>".</p>

Other interests include <a href="http://www.flickr.com/photos/linus/5036588122/in/faves-97777721@N00/">bubbles</a>,
<a href="http://www.flickr.com/photos/curiousjohn/6141586905/in/faves-97777721@N00/">balancing things on my head</a>
and <a href="">letterpress printing</a>.

Learn more on my <a href="http://www.thomaslevine.com/">website</a> or in <a href="http://www.youtube.com/watch?v=dQw4w9WgXcQ">this video</a>.
